version: '3'

services:
  proxy:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    image: nginx-custom
    container_name: proxy
    restart: always
    network_mode: "host"
    depends_on:
      - blue
      - green

  consul:
    build:
      context: .
      dockerfile: consulServer.Dockerfile
    image: consul-custom
    container_name: consul
    restart: always
    network_mode: "host"

  blue:
    image: mattmyers3491/jenkins-test:latest
    container_name: blue
    restart: always
    network_mode: "host"

  green:
    image: mattmyers3491/jenkins-test:latest
    container_name: green
    restart: always
    network_mode: "host"

  registrator:
    image: gliderlabs/registrator:latest
    container_name: registrator
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
    command: -internal consul://localhost:8500
    restart: always
    depends_on:
      - consul
    network_mode: "host"
